<template>
  <div class="md-layout md-gutter multi-select">
    <div class="md-layout-item">
      <md-field>
        <label :for="identifier">{{ label }}</label>
        <md-select :id="identifier"
                   v-model="selectedData"
                   multiple
                   @md-closed="closed"
                   @md-selected="setSelected">
          <md-option v-for="(item, index) in selectData"
                     :key="index"
                     :value="item">
            &nbsp;<md-tooltip md-direction="top">
                    {{ item }}
                  </md-tooltip>
            {{ item }}
          </md-option>
        </md-select>
      </md-field>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

@Component({})
export default class MultiSelect extends Vue {
    @Prop() identifier!: string;
    @Prop() selectData!: Dataset;
    @Prop() label!: string;
    selectedData: string[] = [];
    isOnceSelected: boolean = false;

    /*
     * Sort the data on init.
     * If in the future sorting is not wanted by default, introduce a flag for possible disable
     */
    @Watch('selectData')
    onPersonChanged2() {
      this.selectData.sort(function (a: Datum, b: Datum) {
        return a.localeCompare(b);
      })
    }

    /*
     * Closed event fires on init with empty selectData. Need to make sure that value emit is on purpose.
     */
    setSelected() {
        this.isOnceSelected = true;
    }

    /*
     * Communicates the new selection to the assigned method that implements this component
     */
    closed(force: boolean) {
        if (this.isOnceSelected || force) {
            this.$emit('new_selection', [this.identifier, this.selectedData]);
        }
    }

    /*
     * In case we want to trigger a recalculation from outside
     */
    forceUpdate() {
        this.$forceUpdate();
    }

    /*
     * Resets selected filter values
     */
    public resetSelection() {
      this.selectedData = [];
    }
}
</script>

<style scoped lang="scss">
.multi-select ::v-deep .md-field {
    max-width: 300px;
    min-height: 40px;
    margin: 0 0 10px;
    padding-top: 0;

    label {
      top: 11px;
    }

    .md-icon {
      margin-left: 5px;
    }
}
.multi-select ::v-deep .md-field.md-has-value {
    .md-select-value {
      margin-top: auto;
      display: flex;
    }

    label {
      top: 0;
    }
}
</style>
